.slider{
    margin: 0px auto;
    width: 100%;
    height: 400px;
    overflow: hidden;
    text-align: center;
}

.slides{
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 25%;
    position: relative;
}

.slide img{
    width: 400px;
}

@media screen and (max-width:400px) {
    .slide img{
        width: 100%;
    }
}

.manual-nav{
    position: absolute;
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #041f3d;
    padding: 5px;
    border-radius: 100%;
    cursor: pointer;
    transition: 0.7s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color:#041f3d;
}

#radio1:checked ~ .first{
    margin-left: 0px;
    transition: 0.5s;
}

#radio2:checked ~ .first{
    margin-left: -25%;
    transition: 0.5s;
}

#radio3:checked ~ .first{
    margin-left: -50%;
    transition: 0.5s;
}

.navegation-auto div{
    border: 2px solid #041f3d;
    padding: 5px;
    border-radius: 100%;
    cursor: pointer;
    transition: 0.7s;
}

.navegation-auto {
    position: absolute;
    width: 100%;
    margin-top: 440px;
    display: flex;
    justify-content: center;
}

.navegation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navegation-auto .auto-btn1{
    background-color: #041f3d;
}

#radio2:checked ~ .navegation-auto .auto-btn2{
    background-color: #041f3d;
}

#radio3:checked ~ .navegation-auto .auto-btn3{
    background-color: #041f3d;
}

@media screen and (max-width:400px) {
    .navegation-auto {
        margin-top: 400px;
    }

    .manual-nav{
        margin-top: 0px;
    }
}



